.u-frame{
  @include min-screen($bp_tb_v){
    max-width:calc(100% - #{sizeCalc(200, $w, vw)});
    margin-right:auto;
    margin-left:auto;
  }

  @include min-screen($bp_base){
    max-width:#{$frame_w}px;
  }
}

.u-noscroll{
  overflow: hidden;
  height:100%;
}

.u-overflowHidden {
  overflow: hidden;
}

.u-noevent{
  pointer-events:none;
}

.u-exSp {
  display: none;
  @include min-screen($bp_tb_v){
    display: block;
  }
}

.u-sp{
  @include min-screen($bp_tb_v){
    display: none;
  }
}

.u-preload{
  * {
    transition: none !important;
  }
}

.u-preline{
  white-space: pre-line;
}
