.c-item{
  width: 48%;
  margin-bottom: 30px;
  @include min-screen($bp_tb_v){
    width: 32%;
  }

  &__visual{
    height: 150px;
    background: $gray;
    @include min-screen($bp_tb_v){
      height: 200px;
    }
  }

  &__title{
    margin-top: 9px;
    font-size: 18px;
    line-height: 1.6;
  }

  &__description{
    font-size: 12px;
    line-height: 1.6;
  }
}