.l-footer {
  text-align: center;
  font-size: 15px;
  color:#fff;
  background: $dgray;
  @include min-screen($bp_tb_v){
  }
  @include min-screen($bp_base){
  }

  &__inner{
    padding: 90px 0;
  }

  .is-menu-active & {
    pointer-events: none;
  }
}